@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Machine Test App</h1>

    <br />

    <a asp-controller="Product" asp-action="Index" class="btn btn-primary btn-lg">Go to Product List</a>
    <a asp-controller="Category" asp-action="Index" class="btn btn-primary btn-lg">Go to Category List</a>

</div>
